{% extends 'mailing/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row text-center">
        <form method="post">
            {% csrf_token %}
            <h1 class="mb-3"> Вы действительно хотите удалить письмо "{{ object.title }}" ?</h1>
            <div class="row mb-3">
                <div class="btn-group">
                    <button type="submit" class="btn btn-danger">V Удалить</button>
                    <a href="{% url 'mailing:message_detail' object.pk %}" class="btn btn-primary">X Отменить</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}